<div class="row">

  <div class="col-lg-2">

  </div>

  <div class="col-lg-8">

      <div class="prevision-header">
        <span class="prevision-header-text">HORÓSCOPO</span>
      </div>


      <div class="row">
        <div class="col-lg-4">
          <%= image_tag("aries-icon.png", :alt => "Aries", :class =>"sign-info-icon") %>
          <p class="sign-info-type-text">TOURO</p>
          <p class="sign-info-date-text">21/04 A 20/05</p>
        </div>

        <div class="col-lg-8">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#home">HOJE</a></li>
          <li><a data-toggle="tab" href="#menu1">AMANHÃ</a></li>
          <li><a data-toggle="tab" href="#menu2">SEMANA</a></li>
        </ul>

        <div class="tab-content">
          <div id="home" class="tab-pane fade in active">
            <p>Previsão de hoje: 24/04/2017</p>
            <p> Algumas mudanças na sua rotina podem acabar te irritando hoje. Há chances de se sentir responsável pelos ganhos financeiros ou pelas perdas de outras pessoas. Deixe o orgulho de lado e o serviço vai fluir melhor. Deve enfrentar algumas dificuldades com mãe ou mulher influente na sua vida. Não permita que a indiferença, sua ou do seu par, atrapalhe a relação amorosa. Timidez na paquera. </p>
            <p>Palpites: 76, 67, 40</p>
            <p>Cor: Cinza</p>
          </div>
          <div id="menu1" class="tab-pane fade">
            <p>Previsão de amanhã: 24/04/2017</p>
            <p> Algumas mudanças na sua rotina podem acabar te irritando hoje. Há chances de se sentir responsável pelos ganhos financeiros ou pelas perdas de outras pessoas. Deixe o orgulho de lado e o serviço vai fluir melhor. Deve enfrentar algumas dificuldades com mãe ou mulher influente na sua vida. Não permita que a indiferença, sua ou do seu par, atrapalhe a relação amorosa. Timidez na paquera. </p>
            <p>Palpites: 76, 67, 40</p>
            <p>Cor: Cinza</p>
          </div>
          <div id="menu2" class="tab-pane fade">
            <p>Previsão de amanhã: 24/04/2017</p>
            <p> Algumas mudanças na sua rotina podem acabar te irritando hoje. Há chances de se sentir responsável pelos ganhos financeiros ou pelas perdas de outras pessoas. Deixe o orgulho de lado e o serviço vai fluir melhor. Deve enfrentar algumas dificuldades com mãe ou mulher influente na sua vida. Não permita que a indiferença, sua ou do seu par, atrapalhe a relação amorosa. Timidez na paquera. </p>
            <p>Palpites: 76, 67, 40</p>
            <p>Cor: Cinza</p>
          </div>
        </div>
        </div>
      </div>

  </div>

  <div class="col-lg-2">

  </div>

</div>
