<div class="row">

  <div class="col-lg-2">

  </div>

  <div class="col-lg-8 background-white">

      <div class="prevision-header">
        <span class="prevision-header-text">HORÓSCOPO</span>
      </div>


      <div class="row sing-info">
          <div class="col-lg-4 cols-sm-12">
            <div class="center-block">
            <%= image_tag("taurus-icon-big.png", :alt => "Aries", :class =>"sign-info-icon") %>
            </div>
            <div class="text-center">
            <p class="sign-info-type-text">TOURO</p>
            <p class="sign-info-date-text">21/04 A 20/05</p>
            </div>
          </div>

          <div class="col-lg-8">
              <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#sign-info-tab1">HOJE</a></li>
                <li><a data-toggle="tab" href="#sign-info-tab2">AMANHÃ</a></li>
                <li><a data-toggle="tab" href="#sign-info-tab3">SEMANA</a></li>
              </ul>

            <div class="tab-content">
                <div id="sign-info-tab1" class="tab-pane fade in active">
                  <p>Previsão de hoje: 24/04/2017</p>
                  <p> Algumas mudanças na sua rotina podem acabar te irritando hoje. Há chances de se sentir responsável pelos ganhos financeiros ou pelas perdas de outras pessoas. Deixe o orgulho de lado e o serviço vai fluir melhor. Deve enfrentar algumas dificuldades com mãe ou mulher influente na sua vida. Não permita que a indiferença, sua ou do seu par, atrapalhe a relação amorosa. Timidez na paquera. </p>
                  <p>Palpites: 76, 67, 40</p>
                  <p>Cor: Cinza</p>
                </div>
                <div id="sign-info-tab2" class="tab-pane fade">
                  <p>Previsão de amanhã: 24/04/2017</p>
                  <p> Algumas mudanças na sua rotina podem acabar te irritando hoje. Há chances de se sentir responsável pelos ganhos financeiros ou pelas perdas de outras pessoas. Deixe o orgulho de lado e o serviço vai fluir melhor. Deve enfrentar algumas dificuldades com mãe ou mulher influente na sua vida. Não permita que a indiferença, sua ou do seu par, atrapalhe a relação amorosa. Timidez na paquera. </p>
                  <p>Palpites: 76, 67, 40</p>
                  <p>Cor: Cinza</p>
                </div>
                <div id="sign-info-tab3" class="tab-pane fade">
                  <p>Previsão de amanhã: 24/04/2017</p>
                  <p> Algumas mudanças na sua rotina podem acabar te irritando hoje. Há chances de se sentir responsável pelos ganhos financeiros ou pelas perdas de outras pessoas. Deixe o orgulho de lado e o serviço vai fluir melhor. Deve enfrentar algumas dificuldades com mãe ou mulher influente na sua vida. Não permita que a indiferença, sua ou do seu par, atrapalhe a relação amorosa. Timidez na paquera. </p>
                  <p>Palpites: 76, 67, 40</p>
                  <p>Cor: Cinza</p>
                </div>
            </div>
          </div>
      </div>


    <h3 style="margin-left: 10px;">PERFIL DO SEU SIGNO:</h3>
    <div class="sign-perfil">

        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#sign-perfil-tab1">AMOR</a></li>
          <li><a data-toggle="tab" href="#sign-perfil-tab2">SEXO</a></li>
          <li><a data-toggle="tab" href="#sign-perfil-tab3">FAMÍLIA</a></li>
          <li><a data-toggle="tab" href="#sign-perfil-tab4">TRABALHO</a></li>
          <li><a data-toggle="tab" href="#sign-perfil-tab5">AMIZADE</a></li>
        </ul>



        <div class="tab-content">
          <div id="sign-perfil-tab1" class="tab-pane fade in active">
            <p>Sensível e fiel, só se entrega de corpo e alma quando sente segurança ao lado de quem ama. Isso porque seu signo não se interessa por aventuras ou romances passageiros. Quando percebe que o par quer compromisso sério, a união tem chance de ser duradoura, pois você se empenha ao máximo para viver uma linda história de amor. Mas exige dedicação total em troca. Na vida a dois, Touro é possessivo e costuma enfrentar problemas pelo excesso de ciúme, mesmo se o seu amor não der motivos.</p>
            <p> CIÚME: é parte integrante do seu jeito de ser! Quando vive um romance, você se apega tanto à pessoa amada que sente necessidade de controlar cada passo que ela dá. Sua possessividade é tão exagerada que você e seu par podem enfrentar problemas na união, mesmo sem ter motivos para desconfiar de quem ama. Para garantir a harmonia do seu romance, você precisa aprender a se controlar, pois a maioria das pessoas não aguenta essa pressão por muito tempo. Se não deseja acabar sem ninguém, tente confiar mais em quem está ao seu lado. </p>
            <p>PAR PERFEITO: a companhia ideal para esse signo são pessoas bonitas, discretas, maduras e que cuidam do visual. Mas beleza não é o bastante! Quem pretende fisgar o coração de alguém de Touro precisa mostrar que quer compromisso sério, provar que é fiel, conquistar sua confiança e transmitir total segurança emocional. Seu signo quer um amor companheiro, alguém com os pés no chão, que queira compartilhar uma vida estável, tranquila e duradoura.</p>
          </div>
          <div id="sign-perfil-tab2" class="tab-pane fade">
            <p>Sensível e fiel, só se entrega de corpo e alma quando sente segurança ao lado de quem ama. Isso porque seu signo não se interessa por aventuras ou romances passageiros. Quando percebe que o par quer compromisso sério, a união tem chance de ser duradoura, pois você se empenha ao máximo para viver uma linda história de amor. Mas exige dedicação total em troca. Na vida a dois, Touro é possessivo e costuma enfrentar problemas pelo excesso de ciúme, mesmo se o seu amor não der motivos.</p>
            <p> CIÚME: é parte integrante do seu jeito de ser! Quando vive um romance, você se apega tanto à pessoa amada que sente necessidade de controlar cada passo que ela dá. Sua possessividade é tão exagerada que você e seu par podem enfrentar problemas na união, mesmo sem ter motivos para desconfiar de quem ama. Para garantir a harmonia do seu romance, você precisa aprender a se controlar, pois a maioria das pessoas não aguenta essa pressão por muito tempo. Se não deseja acabar sem ninguém, tente confiar mais em quem está ao seu lado. </p>
            <p>PAR PERFEITO: a companhia ideal para esse signo são pessoas bonitas, discretas, maduras e que cuidam do visual. Mas beleza não é o bastante! Quem pretende fisgar o coração de alguém de Touro precisa mostrar que quer compromisso sério, provar que é fiel, conquistar sua confiança e transmitir total segurança emocional. Seu signo quer um amor companheiro, alguém com os pés no chão, que queira compartilhar uma vida estável, tranquila e duradoura.</p>
          </div>
          <div id="sign-perfil-tab3" class="tab-pane fade">
            <p>Sensível e fiel, só se entrega de corpo e alma quando sente segurança ao lado de quem ama. Isso porque seu signo não se interessa por aventuras ou romances passageiros. Quando percebe que o par quer compromisso sério, a união tem chance de ser duradoura, pois você se empenha ao máximo para viver uma linda história de amor. Mas exige dedicação total em troca. Na vida a dois, Touro é possessivo e costuma enfrentar problemas pelo excesso de ciúme, mesmo se o seu amor não der motivos.</p>
            <p> CIÚME: é parte integrante do seu jeito de ser! Quando vive um romance, você se apega tanto à pessoa amada que sente necessidade de controlar cada passo que ela dá. Sua possessividade é tão exagerada que você e seu par podem enfrentar problemas na união, mesmo sem ter motivos para desconfiar de quem ama. Para garantir a harmonia do seu romance, você precisa aprender a se controlar, pois a maioria das pessoas não aguenta essa pressão por muito tempo. Se não deseja acabar sem ninguém, tente confiar mais em quem está ao seu lado. </p>
            <p>PAR PERFEITO: a companhia ideal para esse signo são pessoas bonitas, discretas, maduras e que cuidam do visual. Mas beleza não é o bastante! Quem pretende fisgar o coração de alguém de Touro precisa mostrar que quer compromisso sério, provar que é fiel, conquistar sua confiança e transmitir total segurança emocional. Seu signo quer um amor companheiro, alguém com os pés no chão, que queira compartilhar uma vida estável, tranquila e duradoura.</p>
          </div>
          <div id="sign-perfil-tab4" class="tab-pane fade">
            <p>Sensível e fiel, só se entrega de corpo e alma quando sente segurança ao lado de quem ama. Isso porque seu signo não se interessa por aventuras ou romances passageiros. Quando percebe que o par quer compromisso sério, a união tem chance de ser duradoura, pois você se empenha ao máximo para viver uma linda história de amor. Mas exige dedicação total em troca. Na vida a dois, Touro é possessivo e costuma enfrentar problemas pelo excesso de ciúme, mesmo se o seu amor não der motivos.</p>
            <p> CIÚME: é parte integrante do seu jeito de ser! Quando vive um romance, você se apega tanto à pessoa amada que sente necessidade de controlar cada passo que ela dá. Sua possessividade é tão exagerada que você e seu par podem enfrentar problemas na união, mesmo sem ter motivos para desconfiar de quem ama. Para garantir a harmonia do seu romance, você precisa aprender a se controlar, pois a maioria das pessoas não aguenta essa pressão por muito tempo. Se não deseja acabar sem ninguém, tente confiar mais em quem está ao seu lado. </p>
            <p>PAR PERFEITO: a companhia ideal para esse signo são pessoas bonitas, discretas, maduras e que cuidam do visual. Mas beleza não é o bastante! Quem pretende fisgar o coração de alguém de Touro precisa mostrar que quer compromisso sério, provar que é fiel, conquistar sua confiança e transmitir total segurança emocional. Seu signo quer um amor companheiro, alguém com os pés no chão, que queira compartilhar uma vida estável, tranquila e duradoura.</p>
          </div>
          <div id="sign-perfil-tab5" class="tab-pane fade">
            <p>Sensível e fiel, só se entrega de corpo e alma quando sente segurança ao lado de quem ama. Isso porque seu signo não se interessa por aventuras ou romances passageiros. Quando percebe que o par quer compromisso sério, a união tem chance de ser duradoura, pois você se empenha ao máximo para viver uma linda história de amor. Mas exige dedicação total em troca. Na vida a dois, Touro é possessivo e costuma enfrentar problemas pelo excesso de ciúme, mesmo se o seu amor não der motivos.</p>
            <p> CIÚME: é parte integrante do seu jeito de ser! Quando vive um romance, você se apega tanto à pessoa amada que sente necessidade de controlar cada passo que ela dá. Sua possessividade é tão exagerada que você e seu par podem enfrentar problemas na união, mesmo sem ter motivos para desconfiar de quem ama. Para garantir a harmonia do seu romance, você precisa aprender a se controlar, pois a maioria das pessoas não aguenta essa pressão por muito tempo. Se não deseja acabar sem ninguém, tente confiar mais em quem está ao seu lado. </p>
            <p>PAR PERFEITO: a companhia ideal para esse signo são pessoas bonitas, discretas, maduras e que cuidam do visual. Mas beleza não é o bastante! Quem pretende fisgar o coração de alguém de Touro precisa mostrar que quer compromisso sério, provar que é fiel, conquistar sua confiança e transmitir total segurança emocional. Seu signo quer um amor companheiro, alguém com os pés no chão, que queira compartilhar uma vida estável, tranquila e duradoura.</p>
          </div>
        </div>
    </div>



  </div>


  </div>

  <div class="col-lg-2">

  </div>

</div>
