/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.star-header {
    background: url(../assets/giphy2.gif) #161A3F center center repeat;
    padding: 0px 0px 25px 0px;
}

.sign-icon-default{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin-right: 6px;
    width: 65px;
    height: 65px;
    display: block;
}

.logo{
    width: 45px;
    height: 45px;
    margin-right: 10px;
    float: left;
}

.header-border{
    padding: 20px 50px 20px 50px;
}

.sign-icon-default:visited{
    color: #fff;
}

.sign-icon-default:hover{
    color: #E73B5C;
    background: transparent;
    text-decoration: none;
}

.logo-text{
    font-family: icomoon !important;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    font-size: 25px;
    margin-top: 20px;
}

.navbar{
    background: transparent;
    border: transparent;
}

.navbar-default .navbar-nav>li>a{
    color: white;
}

.navbar-default .navbar-nav>li>a:visited{
    color: white;
}

.navbar-default .navbar-nav>li>a:hover{
    color: #E73B5C;
}


.sign-icon{
    width: 45px;
    height: 45px;
    margin-bottom: 5px;
}

.body-margin{
    margin: 0px;
}

.background-color{
    background-color: #F0F0F0;
}