// Place all the styles related to the Signs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#h2{
  margin: 0px;
}

.prevision-header{
  background-color: #8879BA;
  margin-top: 20px;
  padding-top: 18px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}



.prevision-header-text{
  font-size: 28px;
  font-weight: 300;
  color: white;
  margin: 5px;

}

.sign-info-icon{
  width: 250px;
  height: 250px;
}

ul{
  margin: 0px;
}

.sign-info-type-text{
    font-size: 24px;
    font-weight: 500;
}

.sign-info-date-text{
  margin-top: -20px;
  font-size: 16px;
  font-weight: 100;
}

.sing-info{
  background-color: white;
  padding-top: 20px;
}

.sign-perfil{
  background-color: #CFCFCF;
  color: #4D4D4D;
  margin: 10px;
  padding-bottom: 5px;
}

.background-white{
  background-color: white;
  padding-bottom: 10px;
  margin-top: 30px;
}

.nav-tabs{
  background-color: #CFCFCF;
}
.tab-content{
  background-color:#CFCFCF;
  color:#4D4D4D;
  padding:5px
}
.nav-tabs > li > a{
  border: medium none;
  color: #838383;
  background-color: transparent;
}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus{
  background-color: #2BB59B;
  color: white;
}

.fa{
  color: white;
  margin-top: 40px;
  margin-left: 15px;

}